/*-- scss:defaults --*/

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

// Colours
$night: #141414;
$midnight_green: #003647;
$blue: #0086b2;
$blue_green: #1f97bc;
$moonstone: #54b0cc;
$light_blue: #bce2f0;
$alice_blue: #e3f2f8;
$seasalt: #f7f7f7;

// Base Document Colours
$navbar-bg: $blue; // navbar
$navbar-fg: $seasalt; // navbar foreground elements
$navbar-hl: $light_blue; // highlight color when hovering over navbar links
$body-bg: $seasalt; // page background 
$body-color: $night; // page text 
$footer-bg: $alice_blue; // footer 
$link-color: $midnight_green; // hyperlinks 

/*-- scss:rules --*/

/* The hero image */

.hero {
    /* Sizing */
    width: 100vw;
    height: auto;
    
        /* Padding */
    padding-top: 10%;
    padding-bottom: 10%;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    
    /* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.25),rgba(0, 0, 0, 0.25)), url('images/clouds_cropped.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.home-title {
    /* Text styles */
    //font-size: 20rem;
    
    /* Margins */
    vertical-align: middle;
    text-align: center;
}

.side-padding {
  margin-left: 16vw;
  margin-right: 16vw;
  margin-top: 1vw;
}

.blue-bkg {
  /* Sizing */
  width: 100vw;
  height: auto;
    
  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;
    
  /* Text styles */
  text-align: left;
  color: white;
  font-size: 1.1vw;
    
  /* Background styles */
  background-color: $moonstone;
  background-size: cover;
  background-position: center center;
}

/* from W3 schools responsive image gallery tutorial */
div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  font-size: 1rem;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

//screen size variables
$mobile: 500px; // Screen min
$desktop: 1200px; // Screen max
$screen-diff: ($desktop / 1px - $mobile / 1px);

//font size variables for h1 text
$font-min-h1: 20px; 
$font-max-h1: 80px;
$font-diff-h1: ($font-max-h1 / 1px - $font-min-h1 / 1px);

h1 {
  text-align: centre;
  color: $seasalt;
  
  // Mobile
  @media (max-width: 599px) {
    font-size: $font-min-h1;
  }
  
  // Everything in between mobile (600px) to desktop (1200px)
  @media (min-width: 600px) and (max-width: 1200px) {
    font-size: calc(#{$font-min-h1} + (100vw - #{$mobile}) / #{$screen-diff} * #{$font-diff-h1});
  }
// Desktop
  @media (min-width: 1201px) {
    font-size: $font-max-h1;
  }
}

//font size variables for h2 text
$font-min-h2: 20px; 
$font-max-h2: 40px;
$font-diff-h2: ($font-max-h2 / 1px - $font-min-h2 / 1px);

h2 {
  text-align: center;
  color: $blue_green;
  // Mobile
  @media (max-width: 599px) {
    font-size: $font-min-h2;
  }
  
  // Everything in between mobile (600px) to desktop (1200px)
  @media (min-width: 600px) and (max-width: 1200px) {
    font-size: calc(#{$font-min-h2} + (100vw - #{$mobile}) / #{$screen-diff} * #{$font-diff-h2});
  }
// Desktop
  @media (min-width: 1201px) {
    font-size: $font-max-h2;
  }
}

//font size variables for p text
$font-min-p: 16px; 
$font-max-p: 20px;
$font-diff-p: ($font-max-p / 1px - $font-min-p / 1px);

p {
  text-align: center;
  color: $seasalt;
  // Mobile
  @media (max-width: 599px) {
    font-size: $font-min-p;
  }
  
  // Everything in between mobile (600px) to desktop (1200px)
  @media (min-width: 600px) and (max-width: 1200px) {
    font-size: calc(#{$font-min-p} + (100vw - #{$mobile}) / #{$screen-diff} * #{$font-diff-p});
  }
// Desktop
  @media (min-width: 1201px) {
    font-size: $font-max-p;
  }
}